<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dilan</title>
<link rel="stylesheet" href="styles.css">
</head>

<body>
    <h1>Ready</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde libero rem veritatis, nam, quae accusamus eveniet
        hic vitae vel provident praesentium ducimus maxime iusto reprehenderit velit. Explicabo totam mollitia at!</p>
        
        <a href="https://www.instagram.com/">Instagram</a>
        
        <h2>Lista</h2>
        <ul>
            <li id="rojo">Manzanas</li>
            <li id="azul">Peras</li>
            <li id="amarillo">Fresas</li>
            <li id="verde">Moras</li>
        </ul>
<h2>Lista ordenada</h2>
        <ol>
            <li class="blanco">Manzanas</li>
            <li class="blanco">Peras</li>
            <li class="blanco">Fresas</li>
            <li class="blanco">Moras</li>
        </ol>
        <img src="descarga.jpg" alt="Persona ciega">
</body>

</html>