<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagina web</title>
    <link rel="stylesheet" href="../public/css/clase-3.css">
</head>

<body>
    <header>
        <img src="/desarrollo-web/nike/public/images/nike.png" alt="Nike Logo">
        <ul>
            <li>Soporte</li>
            <li>Mas vendidos</li>
            <li>Nueva coleccion</li>
        </ul>
        <input type="text" placeholder="Buscar...">
        
    </header>
    <main>
        <article>
            <img src="../public/images/zapato1.jfif" alt="Kyrie 5">
            <h2>Kyrie 5</h2>
            <p>40$</p>
        </article>

        <article>
            <img src="../public/images/air force 1.jfif" alt="Air Force 1">
            <h2>Air Force 1</h2>
            <p>60$</p>
        </article>

        <article>
            <img src="../public/images/Air Max.jpg" alt="Air Max">
            <h2>Air Max</h2>
            <p>50$</p>
        </article>
    </main>

    <footer>
        <img src="../public/images/nike.png" alt="Nike Logo">
        <ul>
            <li>Facebook</li>
            <li>Instagram</li>
            <li>X</li>
        </ul>
        <p>© 2024 Nike, Inc. Todos los derechos reservados</p>
    </footer>
   
</body>
</html>